
body {
    width: 1600px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

@font-face {
   font-family: LatoBold;
   src: url(Lato-Bold.ttf);
}
@font-face {
   font-family: LatoLight;
   src: url(Lato-Light.ttf);
}
@font-face{
   font-family: LatoRegular;
   src: url(Lato-Regular.ttf);
}

/* Хеддер начало 
	@font-face {
			font-family: "LatoRegular";
			src: url("fonts/LatoRegular/LatoRegular.eot");
			src: url("fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoRegular/LatoRegular.woff") format("woff"),
			url("fonts/LatoRegular/LatoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBold";
			src: url("fonts/LatoBold/LatoBold.eot");
			src: url("fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoBold/LatoBold.woff") format("woff"),
			url("fonts/LatoBold/LatoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoItalic";
			src: url("fonts/LatoItalic/LatoItalic.eot");
			src: url("fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoItalic/LatoItalic.woff") format("woff"),
			url("fonts/LatoItalic/LatoItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLight";
			src: url("fonts/LatoLight/LatoLight.eot");
			src: url("fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoLight/LatoLight.woff") format("woff"),
			url("fonts/LatoLight/LatoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: 300;
	}

	@font-face {
			font-family: "LatoBoldItalic";
			src: url("fonts/LatoBoldItalic/LatoBoldItalic.eot");
			src: url("fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
			url("fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLightItalic";
			src: url("fonts/LatoLightItalic/LatoLightItalic.eot");
			src: url("fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
			url("fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
			url("fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
*/
/* Хеддер начало */

.header {
    background: url(templates/oscar.jpg) no-repeat center top / cover;
    max-height: 35.3em;
    overflow: hidden;
    width: 1600px;
}

.clearfix {
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

.container {
    width: 76%;
    margin:0 auto;
    padding: 0px;
    color:white;
    padding-left: 45px;
    
}

#header-title {
    margin-top: 100px;
    padding-right:420px;
}

#header-title h1 {
    margin: 0px;
    font-size: 60px;
    font-family: 'LatoBold';
    font-weight: 700;
    letter-spacing: -0.025em;
}

#header-title p {
    margin:0px;
    font-size: 1.9em;
    line-height: 1.2;
    font-family: 'LatoLight';
    font-weight: 400;
    letter-spacing: -0.001em;
    margin-top: 3px;
    margin-left: 2px;
}

#header-title div {
    overflow: hidden;
    padding: 0px;    
    font-weight: 500;
}

#header-title .meta  {
    padding: 0px;
    color:  rgba(255, 255, 255, 0.6);
    font-family:'LatoRegular';
    margin-top:18px;
}

#header-title .meta div {
    float:left;
    padding: 0px;
    font-size:16px;
    overflow: hidden;
    padding-top: 5px;
    font-size: 16px;
}

#header-title .meta #text {
    margin-top: 5px;
    letter-spacing: -0.01em;
}

#avatar img{
    border-radius: 3px;
    margin-top: 0px;
    margin-left: 0px;
   
}
#header-title .meta #author {
    margin-top: 0;
    margin-left: 14px;
}
#header-title .meta #date{
    margin-left: 36px;
    margin-top: 0.5em;
    font-size: 16px;
}



nav {
    margin: 0px;
    width: 100%;
    margin-top: 205px;
}

nav ul {
    padding: 0;
    overflow: hidden;
    margin-top: -1px;
    margin-left: 1px;
}
#menu-bar {
    padding-left: 0px;
    margin-bottom: 7%;
}

#menu-bar li:first-child {
    display: inline;
    margin-left: -1px;
}
#menu-bar li:last-child {
    display: inline;
    margin-left: 25px;
}
#menu-bar li {
    display: block;
    float:left;
    margin-left:31px;
    overflow: hidden;
}
#menu-bar li div {
    display: block;
    float:right;
    margin-top:2px; 
    margin-left:8px;
}

#menu-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 14px;
    font-family: 'LatoRegular'; 
    font-weight: 500;
}


/* Хеддер конец*/


/* Show More начало */


#show-more {
    height: 2.3em;
    padding-top:1.2em;
    background-color: #cfbb95;
}

#show-more div{
    margin:0 auto;
    width:10em;
    text-align: center
}
#show-more div a{
    text-decoration: none;
    text-transform: uppercase;
    color:#f1ebdf;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 16px;
}

/* Show More конец */


/* wrapper начало */



#wrapper {
    padding-left: 44px;
    width: 55%;
    margin: 0 auto;
    margin-top: 42px;
}

.article-img {
    margin-top: 27px;
    padding: 0px;
    margin-left: 2px;
}

#wrapper article:nth-child(1) .articleinfo{
    margin-left: 3px;
    margin-top:27px;
}

#wrapper article:nth-child(1) .articletext{
    margin-left: 3px;
    margin-top:21px;
}
#wrapper article:nth-child(2){
    margin-top: 89px;
}

#wrapper article:nth-child(2) .articletitle {
    margin-left: 2px;
}

#wrapper article:nth-child(2) .articletext{
    margin-left: 3px;
    margin-top:21px;
}

#wrapper article:nth-child(2) .articleinfo{
    margin-left: 3px;
    margin-top:27px;
}
#wrapper article:nth-child(3){
    margin-top: 87px;
}
#wrapper article:nth-child(3) .articletitle {
    margin-left: 1px;
}
#wrapper article:nth-child(3) .article-img {
    margin-left: 3px;
}
#wrapper article:nth-child(3) .articletext {
    margin-left: 2px;
    margin-top: 19px;
}
#wrapper article:nth-child(3) .articleinfo{
    margin-left: 0px;
    margin-top: 25px;
}
#wrapper article:nth-child(4){
    margin-top: 89px;
}
#wrapper article:nth-child(4) .articletitle {
    margin-left: 3px;
}
#wrapper article:nth-child(4) .article-img {
    margin-left: 3px;
}
#wrapper article:nth-child(4) .articletext {
    margin-left: 3px;
    margin-top: 0px;
}
#wrapper article:nth-child(4) .articleinfo{
    margin-left: 3px;
    margin-top: 25px;
}
#wrapper article:nth-child(5){
    margin-top: 127px;
}
#wrapper article:nth-child(5) .articletitle {
    margin-left: 2px;
}
#wrapper article:nth-child(5) .article-img {
    margin-left: 3px;
}
#wrapper article:nth-child(5) .articletext {
    margin-left: 3px;
    margin-top: 21px;
}
#wrapper article:nth-child(5) .articleinfo{
    margin-left: 3px;
    margin-top: 28px;
}
#wrapper article:nth-child(6){
    margin-top: 109px;
}
#wrapper article:nth-child(6) .article-img {
    margin-top: -11px;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 27px;
}
#wrapper article:nth-child(6) .articleinfo{
    margin-left: 3px;
    margin-top: 26px;
}

#wrapper article:nth-child(7){
    margin-top: 88px;
}
#wrapper article:nth-child(7) .articletitle {
    margin-left: 1px;
}

#wrapper article:nth-child(7) .articletext {
    margin-left: 2px;
    margin-top: 31px;
}

#wrapper article:nth-child(7) .articleinfo{
    margin-left: 3px;
    margin-top: 31px;
}

#wrapper article:nth-child(8){
    margin-top: 87px;
}

#wrapper article:nth-child(8) .article-img {
    margin-top: 29px;
    padding: 0px;
    margin-left: 3px;
    margin-bottom: 29px;
}

#wrapper article:nth-child(8) .articletext {
    margin-left: 2px;
    margin-top: -7px;
}
#wrapper article:nth-child(8) .articleinfo{
    margin-left: 3px;
    margin-top: -12px;
}

#wrapper  #eighth {
    margin-top: 75px;
}

#wrapper  #eighth .article-img{
    margin-left: 23px;
}
#wrapper  #eighth .articletext{
    margin-left: 18px;
    margin-top: 42px;
}

#wrapper  #eighth .articleinfo{
    margin-left: 19px;
    margin-top: 26px;
}

.articletitle {
    font-family:'LatoBold';
}
.articletitle h3 {
    font-size: 24px;
    margin:1px;
}

.articletext {
    font-family:'LatoRegular';
    margin-top:20px;
    font-size:18px;
    line-height:30px;
    margin-left:2px;
}


.article-imgs {
    margin-left: -16px;
    margin-top: 31px;
    padding: 0px;
    margin-bottom: -6px;
}
.article-imgs img{
    margin-left:19px;
    
}

.article-imgs img{
    top:1px;

}

.articleinfo {
    overflow: hidden;   
    margin: 0;
    padding: 0;
}



.articleinfo li {
    display:block;
    float: left;
    font-family:'LatoRegular';
    font-size: 14px;
}

.info {
    display: block;
    padding: 5px 0px 5px 26px;
    position: relative;

}

.info-item {
    position: absolute;
    top:1px;
    left:0px;
    bottom: 0px;
}

.info-date , .info-place {
    display: block;
    position: relative;
    padding-top:5px;  
    margin-left:39px;
    opacity: 0.5;
}

.info-author {
    opacity: 0.5;
}

.comments li
{
    border:1px solid white;
   float:left;
    display:block;
   color:green;
   opacity: 0.5;
   margin-left:15px;
    
}
.comments div
{
   width: 59px;
}

.comments
{
 
   margin-top: -29px;
   font-family: "LatoRegular";
   font-size: 14px;
   margin-left: 325px;
   
}
.comments img
{
position:relative;
top:5px;  
   
}
.comments li:nth-child(4)
{
   margin-left: 16px;
}   
.comments li:nth-child(5)
{
   margin-left: 21px;
}   
.fifthinfo
{
   height: 35px;
   margin-top: 28px;
   
}
.fifthinfoarticle
{
    margin-top:0px;
    
}

#updown
{
    margin-left:5px;
    margin-right:5px;
    color: green;
}
#updownfull
{
    margin-right:12px;
}
a
{
    color: black; 
    text-decoration:none;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background:url(templates/dropdown1.png) no-repeat;
    min-width: 110px;
    min-height: 165px;
    opacity: 1;
    padding: 12px 16px;
    z-index: 1;
    color: black;
   
    font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#audioplayer
{
    width: 827px;
    height: 137px;
    border: 1px solid #f0f0f0;
    padding: 0px;
    background-color: #f0f0f0;
    margin-top: 31px;
}
#audiplayerinner
{
	width:750px;
	height:80px;
    font-family: "latoRegular";
    font-size: 15px;
	margin-top:25px;
    font-style: italic;
 
	margin-left:39px;
}
#pause
{
	float:left;
	width:79px;
	height:79px; 

	
}
#rightside
{
	float:right;
	width:665px;
	height:79px;
    margin-top: 24px
   

	
	
}
#up
{ 
       width:665px;
	   margin-right:100px;
       margin-top:24px;	   
	  
}
#ss
{

	margin-left:35px;
    word-spacing:0px;

}
#sp
{
 margin-left:234px;	
 font-size:13px;
 opacity:0.5;

}
#down
{
	   width:626px;
	   height: 8px;
	   margin-right:100px;
	   margin-left:33px;
       margin-top:14px;	   
	    
       border-radius:5px;
}
#already
{
	height:8px;
	
	background-color:#c8c8d3;
	width: 408px; 
	float:left;
    border-radius:6px 0 0 6px; 
}
#next
{
	height:8px;
	float:right;
	background-color: #fff;
	width: 218px;
	border-radius:0 6px 6px 0;
}
.title {
    margin-top: 47px;
  /* чтобы линии не выходили за ширину блока заголовка */
    overflow: hidden;
    text-align: center;
    font-size:18px;
    font-family: "latoRegular";
  
}
.title:before,
.title:after {
  content: '';

  /* делаем линию строчно-блочной */
  display: inline-block;

  /* выравниваем вертикально по середине */
  vertical-align: middle;

  /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
 

  /* установка ширины в 100% делает линию равной ширине тега заголовка
  ** благодаря этому линия заполнит все свободное пространство
  ** слева и справа от текста
  */
  width: 369px;
  height: 1px;
  background:black;
  opacity: 0.5;

  /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
  ** благодаря этому создается нужный отступ между линиями и текстом
  */
  border: solid #FFF;
  border-width: 0 10px;
}
.title:before {
  /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает слева от текста
  */
  margin-left: -80%;
}
.title:after {
  /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает справа от текста
  */
  margin-right: -74%;
}
#comments1
{   margin-top: 52px;
	width:830px;
	height:75px;
    border: 1px solid white;

}
#comments2
{
	width:830px;
	height:130px;
    border: 1px solid white;
	margin-top:59px;

}
#comments3
{
	width:733px;
	height:75px;
    border: 1px solid white;
	margin-left: 95px;
	margin-top:42px;

}
#comments4
{
	width:733px;
	height:75px;
    border: 1px solid white;
	margin-left: 92px;
	margin-top:43px;

}
#leftblock
{
	float:left;
	width:75px;
	height:75px;
    border: 1px solid  white;
	padding-left: 1px;
    padding-top: 0px;
}
#rightblock1
{
	float:right;
	width:747px;
	height:75px;
    border: 1px solid  white;

	
	

}
#rightblock3
{
	float:right;
	width:652px;
	height:75px;
    border: 1px solid  white;

	
	
}
#rightblock2
{
	float:right;
	width:747px;
	height:130px;
    border: 1px solid  white;

	
	
}
#up
{ 
       width:747px;
	   margin-right:30px;
       margin-top:0px;	   
}
#up3
{ 
       width:480px;
	   margin-right:30px;
       margin-top:-1px;	   
	   border: 1px solid white;
}
#middle1 
{
    border: 1px solid  white;
	width:745px;
    margin-top:6px;	
}
#middle2
{
    border: 1px solid white;
	width:735px;
	padding-left:13px;
    margin-top:2px;	
}    
#middle3
{
     border: 1px solid white;
	  width:515px;
	 padding-left:15px;
    margin-top:5px;	
}      
#name
{
	font-family: 'LatoBold';
	margin-left:15px;

}
#textcomment1
{
    font-family: 'LatoRegular';
    margin-left: 13px;
}
#textcomment2
{
	font-family: 'LatoRegular';
	margin-left:0px;
	line-height:1.65;
}

#midle3 > #textcomment1
{
	font-family: 'LatoRegular';
	margin-left:12px;
    font-family: 'LatoRegular';
    margin-left: 12px;
	letter-spacing: -0.002em;
}
#date
{

    font-family: 'LatoRegular';
    color: #8b8b8b;
    margin-left: 17px;
    font-size: 14px;
}
#date2
{
    font-family: 'LatoRegular';
    color:#8b8b8b;
    margin-left:17px;	
    font-size:14px;

}
#reply
{
	color:#0c50a7;
	margin-left:14px;
	font-family: 'LatoRegular';
    word-spacing:6px;
}
#down1
{
	   width:747px;
	   margin-right:30px;
       margin-top:8px;
	   border: 1px solid white;
}
#down2
{
	   width:747px;
	   margin-right:30px;
       margin-top:7px;
	   border: 1px solid  white;
}
#down3
{
	   width:480px;
	   margin-right:30px;
       margin-top:6px;
	   border: 1px solid white;
       padding-left:1px;
}
#middle3 span
{
	margin-left:0px;
} 
#yourcomment
{   color: rgba(141, 140, 141, 0.8);
    width: 810px;
    height: 164px;
    background-color:#f0f0f0;
    padding-top:16px;
    padding-left:20px;
    margin-top:51px;
    margin-left:2px;
    font-family: 'LatoRegular';
}
#prevnext
{
    margin-top: 35px;
    margin-left: 311px;
    word-spacing: 19.5px;
}


.TipAuthor {
    border: 1px solid #0c50a7;
    width: 828px;
    height: 65px;
    position: relative;
    margin-top: 64px;
    margin-left: 2px;
}
.TipAuthor p {
    padding: 0px;
    margin-left: 355px;
    font-family: 'LatoRegular';
    color: #0c50a7;
    text-transform: uppercase;
    font-size: 19px;
    padding-top: 4px;
    letter-spacing: 0.013em;
}
.TipAuthor img{
    position: absolute;
    top: 16px;
    left: 310px;
}
#youtube img
{
    margin-top:54px;
    border: 20px solid #f0f0f0;

}
#Copyright
{
	width:1598px;
	height:99px;
    border: 1px solid black;
	background-color: black;
    margin-top: 100px;

}

#footerleftblock
{
    float: left;
    width: 250px;
    height: 32px;
    border: 1px solid black;
    padding-left: 3px;
    padding-top: 2px;
    margin-left: 210px;
    margin-top: 34px;
	
}
#footerrightblock1
{
	float:right;
	width:334px;
	height:45px;
    border: 1px solid black;
    margin-top:25px;
}
#footerleftblock span
{
	font-size:18px;
    font-family: 'LatoRegular';
    color: #a5a5a5;
}